.account-settings-page {
  margin: 15px auto;
  width: 33%;
}

.account-settings-page h1 {
  text-align: center;
}

.profile-info-section {
  margin: 15px 0px;
  display: flex;
  justify-content: space-between;
}