body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  margin-top: 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.current-move {
  font-weight: bold;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


.game-status {
  margin-top: 15px; 
}

.square {
  background: #fff;
  border: 1px solid rgb(68, 68, 68);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.O {
  color: blue;
}

.winning-square {
  background-color: lightcoral;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
